<h1>Wybierz miejsca</h1>

<div class="screen">EKRAN</div>

<div id="seatsContainer" class="cinema"></div>

<div class="legend-wrapper">
    <div class="legend">
        <div><span class="seat available"></span> Wolne</div>
        <div><span class="seat selected"></span> Wybrane</div>
        <div><span class="seat occupied"></span> Zajęte</div>
    </div>
</div>

<p id="seatCounter" class="seat-counter">Wybrane miejsca: 0</p>

<button id="reserveBtn" onclick="openReservationModal()">🎟️ Rezerwuj</button>


