<h1>Wybierz miejsca</h1>
<div class="cinema">
    <div class="legend-wrapper">
        <div class="legend">
            <div><div class="seat available"></div> Wolne</div>
            <div><div class="seat selected"></div> Wybrane</div>
            <div><div class="seat occupied"></div> Zajęte</div>
        </div>
    </div>
    <div class="screen">EKRAN</div>
    <div id="seatsContainer"></div>
    <div class="seat-counter" id="seatCounter">
        Wybrane miejsca: 0
    </div>
    <button id="reserveBtn" onclick="openReservationModal()" disabled>
        Rezerwuj miejsca
    </button>
</div>

