<div class="success-screen">
    <div class="ticket">

        <!-- LEWA STRONA -->
        <div class="ticket-left">
            <h2 id="ticketMovie">Film</h2>

            <p class="ticket-line">
                📅 <span id="ticketDate"></span>
            </p>

            <p class="ticket-line">
                🕒 <span id="ticketTime"></span>
            </p>

            <p class="ticket-line">
                🏟️ Sala <span id="ticketHall"></span>
            </p>

            <p class="ticket-line">
                💺 Miejsca: <span id="ticketSeats"></span>
            </p>
        </div>

        <!-- PRAWA STRONA -->
        <div class="ticket-right">
            <span class="ticket-side-label">Numer rezerwacji</span>
            <strong class="ticket-side-code" id="ticketCode"></strong>
        </div>

    </div>

    <button onclick="navigate('home')">Wróć na stronę główną</button>
</div>
