<div class="success-screen">
    <div class="ticket ticket-animate">

        <!-- LEWA STRONA -->
        <div class="ticket-left">
            <h2 id="ticketMovie">Film</h2>

            <div class="ticket-line">
                📅 <span id="ticketDate"></span>
            </div>

            <div class="ticket-line">
                🕒 <span id="ticketTime"></span>
            </div>

            <div class="ticket-line">
                🏟️ <span id="ticketHall"></span>
            </div>

            <div class="ticket-line">
                💺 Miejsca:
                <span id="ticketSeats"></span>
            </div>
        </div>

        <!-- PRAWA STRONA -->
        <div class="ticket-right">
            <div class="ticket-side-code" id="ticketCode"></div>
        </div>

    </div>

    <button class="primary" onclick="navigate('home')">
        Wróć na stronę główną
    </button>
</div>
