body {
    font-family: Arial;
    padding: 20px;
}

#seats {
    margin-top: 20px;
}

.seat {
    width: 30px;
    height: 30px;
    margin: 5px;
    display: inline-block;
    background: lightgray;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

    .seat.selected {
        background: green;
        color: white;
    }

    .seat.occupied {
        background: red;
        cursor: not-allowed;
    }
